@font-face {
    font-family: Jost;
    src: url(/fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(/fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Mulish-Bold;
    src: url(/fonts/Mulish/static/Mulish-Bold.ttf);
}

@font-face {
    font-family: Nunito Sans;
    src: url(/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: Uber Move Text;
    src: url(/fonts/Uber/UberMoveTextRegular.otf);
}

@font-face {
    font-family: Uber-Medium;
    src: url(/fonts/Uber/UberMoveTextMedium.otf);
}

@font-face {
    font-family: Uber-Bold;
    src: url(/fonts/Uber/UberMoveTextBold.otf);
}

.bizzzy-background {
    background-color: #0086FF;
}

.bizzzy-color {
    color: #0086FF;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

@media (max-width: 1399.98px) {
    .container {
        /* max-width: 100vw; */
        /* max-width: 100%; */
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
}

/* @media (min-width: 0px) and (max-width: 990px) {
    .container {
        max-width: 100vw;
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        width: 90%;
    }
} */


/* navbar start */

.navbar_section {
    margin-top: 15px;
    /* width: 80%; */
}

.navbar_section .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.nav-brand {
    color: #0086FF;
    font-size: 26px;
    font-family: Lato-Bold;
    text-decoration: none;
}

.nav-brand:hover {
    color: #0086FF !important;
}

.nav-link {
    color: #0A0A0A;
    font-size: 16px;
    font-weight: 600;
}

.nav-link.signup-sm {
    display: none;
    font-family: Mulish-Bold;
    font-style: normal;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.login {
    font-family: Mulish-Bold;
    font-style: normal;
}

.nav-link:focus,
.nav-link:hover {
    color: #0086FF !important;
}

.nav-link.active {
    color: #0086FF !important;
    font-family: Mulish-Bold;
}

.navbar_section .form-control {
    width: unset;
    padding: 0.6rem 2.375rem 0.5rem 0.5rem;
    /* padding: 0.6rem 2.375rem 0 0 ; */
    border: 1px solid #0086FF;
    box-shadow: 0px 0px 1px rgb(0, 134, 255);
    border-radius: 5px;
}

.form-control:focus {
    border-color: #0086FF;
    box-shadow: 0px 0px 3px rgb(0, 134, 255);
}

.navbar_section .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0086FF;
    opacity: 1;
    /* Firefox */
    font-family: Mulish-Bold;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #0086FF;
    font-family: Mulish-Bold;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #0086FF;
    font-family: Mulish-Bold;
}

.sm-authentication {
    display: none !important;
}

@media (min-width: 0px) and (max-width: 990px) {
    .search_input_group,
    .signup-lg,
    .lg-authentication,
    .sign_up {
        display: none !important;
    }
    .nav-link.signup-sm {
        display: block;
    }
    .sm-authentication {
        display: flex !important;
    }
    .navbar>.container-fluid>.responsive-nav-justify {
        justify-content: start;
    }
}


/* @media (min-width: 0px) and (max-width: 990px) {
    .nav-brand {
        ;
    }
} */

.search_input_group {
    position: relative;
    margin-left: 3vw !important;
    margin-right: 3% !important;
}

.search_icon_input {
    position: absolute;
    top: 12px;
    right: 5%;
}

.signup-lg {
    background-color: #0086FF;
    border-color: #0086FF;
    font-family: Mulish-Bold;
    padding: 0.6rem 2.7rem;
    margin-right: 17px;
    white-space: nowrap;
    color: white;
}

.signup-lg:hover{
    border-color: #0086FF;
    color: #0086FF;
}

.navbar_toggle_nav {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* navbar end */