.border-zero{
    border-radius: 0;
}

.card {
    border-radius: 0;
}

.inner-content {
    background-color: rgb(229, 229, 229, 0.2);
}

.invalid-response {
    color: #f93154;
}


/* -- Register radion input-- */


/* Choose all input elements that have the attribute: type="radio" and make them disappear.*/

.register-radio {
    display: none;
}


/* The label is what's left to style. 
As long as its 'for' attribute matches the input's 'id', it will maintain the function of a radio button. */

.register-radio+label {
    padding: 0.15em 0.4em 0.15em 0.4em;
    display: inline-block;
    cursor: pointer;
    min-width: 120px;
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
    margin-right: -2px;
    margin-left: -2px;
}

.register-radio.left+label {
    border-radius: 3px 0px 0px 3px;
    border-left: 1px solid #0086ff;
    border-top: 1px solid #0086ff;
    border-bottom: 1px solid #0086ff;
}

.register-radio.right+label {
    border-radius: 0px 3px 3px 0px;
    border-right: 1px solid #0086ff;
    border-top: 1px solid #0086ff;
    border-bottom: 1px solid #0086ff;
}

.blank-label {
    display: none;
}


/* The '+' is the adjacent sibling selector.
It selects what ever element comes right after it,
as long as it is a sibling. */

.register-radio:checked+label {
    background: #0086ff;
    color: #ffffff;
    transition: 150ms ease-in-out;
}


/* -------- Selelct Option -----------------------------------------------------------------------*/

.ts-wrapper .option .title {
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.ts-wrapper .option .desc {
    font-size: 12px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}


/* ----------------------------------------------------------------------------------------------- */


/* -------- Questions ----------------------------------------------------------------------- */


/* .ts-wrapper.plugin-remove_button .item .remove{
color: red;
content: '\f1f8';
font-family: "Font Awesome 5 Free";
font-style: normal;
font-weight: 900;
} */

.is-invalid .ts-control {
    border: 1px solid red;
}

.add-skill {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #626468;
    display: flex;
    justify-content: center;
    align-items: center;
}

.added-skill {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.added-skill>p {
    margin: 6px;
}

.added-skill .text {
    border: 2px solid #0086ff;
    border-radius: 50px;
    padding: 8px 17px;
    width: fit-content;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.not-met {
    color: #de350b;
    transition: 300ms;
}

.met {
    color: #00875a;
    transition: 300ms;
}

.grid-center {
    display: grid;
    grid-template-columns: 0.3fr 0fr 0.1fr;
}

@media (min-width: 0px) and (max-width: 990px) {
    .grid-center {
        grid-template-columns: 0.8fr 0fr 0.2fr;
    }
}

.relative {
    position: relative;
}

.add-language {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #dfe1e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-language i {
    color: #0086ff;
}

.add-language+.desc {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    color: #0086ff;
}

.remove-language {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e11900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-language i {
    color: white;
    font-size: 1rem;
}

.question {
    min-height: 80vh;
    position: relative;
}

.question .form-check.custom {
    padding-left: unset;
}

.question-footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.question-footer-height {
    padding-bottom: 120px;
}


/* Choose all input elements that have the attribute: type="radio" and make them disappear.*/

.question-radio {
    display: none;
}


/* The label is what's left to style. As long as its 'for' attribute matches the input's 'id', it will maintain the function of a radio button. */

.question-radio+label {
    padding: 1em;
    display: inline-block;
    cursor: pointer;
    width: 70%;
    margin-right: -2px;
    margin-left: -2px;
    background: #e3fcef;
    border-radius: 3px;
    color: #006644;
}

.blank-label {
    display: none;
}


/* The '+' is the adjacent sibling selector.
It selects what ever element comes right after it,
as long as it is a sibling. */

.question-radio:checked+label {
    background: #b5fbd6;
    border: 1px solid #0086ff;
    transition: 150ms ease-in-out;
}

.question .skip {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #0086ff;
    margin-top: 30px;
    font-family: Nunito Sans;
}

.main-question {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #1c1c1c;
}

.main-question-desc {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #006644;
}

.battery-question.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 30px;
}

.battery-question .card {
    /* width: 18rem; */
    position: relative;
}

.battery-question .card-body {
    padding: 0.5rem;
}

.battery-question .battery {
    position: absolute;
    left: 32%;
    top: 11%;
}


/* .battery-question .card-body {
    margin-top: 50px;
} */

.battery-question .card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.battery-question .card-text.sm {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1c1c1c;
}


/* checkbox position */

.battery-question .checkbox {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 24px;
    height: 24px;
}


/* hide default input */

.battery-question .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* create custom input */

.battery-question .checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
}


/* input hover */

.battery-question .checkbox:hover input~.checkmark {
    background-color: rgb(255, 250, 250);
    cursor: pointer;
}


/* check-background */

.battery-question .checkbox input:checked~.checkmark {
    background-color: #0086ff;
}


/* Create the indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.battery-question .checkbox input:checked~.checkmark:after {
    display: flex;
    width: 100%;
}


/* Style the indicator (dot/circle) */

.battery-question .checkbox .checkmark:after {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    top: 0.1rem;
    font-size: 15px;
}

.add-exp {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 132px;
    background: #ffffff;
    border: 1px dashed #dfe1e6;
    box-sizing: border-box;
}

.add-exp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: #dfe1e6;
    border-radius: 50%;
    margin-top: 10px;
}

.add-exp-button i {
    color: #0086ff;
}

.add-exp:hover {
    box-shadow: 0px 5px 10px 1px #ebecf0;
    cursor: pointer;
}

.add-exp p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0086ff;
}

.added-exp {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
    width: 275px;
    height: 75px;
    background: #ffffff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    padding-left: 10px;
}

.custom-label {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.custom-close {
    color: #42526e;
}

.custom-close:hover {
    color: #32363f;
    background-color: inherit;
}

.rate-text {
    font-family: "Inter-Bold";
    font-style: normal;
}

.rate-desc {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}

.rate-input-group {
    padding-bottom: 0;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-right: 0;
    color: #0086ff;
}

.rate-input-group+input {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-left: 0;
    border-right: 1px solid #bdbdbd;
    text-align: right;
}


/* ---------------------------------------------------------------- */


/* --- Override defaults --- */

.dp-image {
    width: 80px;
    border-radius: 50%;
}

.prev-button {
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    box-shadow: unset;
    background: #eeeeee;
    border-radius: 0;
    text-transform: unset;
    color: #0086ff;
    max-width: 3rem;
}

.prev-button:hover {
    color: #0086ff;
    box-shadow: unset;
}

.prev-button:focus {
    box-shadow: unset;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-gray {
    color: #6c757d !important;
}

.container.body {
    min-height: 80vh;
}

.bizzy-tip-bio {
    max-width: 300px;
    float: right;
}

.invalid-feedback.js {
    margin-top: 0px;
}

.btn-bizzzy-success {
    background-color: #0086ff;
    border-color: #0086ff;
    color: white;
}

.btn-bizzzy-success:hover {
    color: white;
}

.progress-bar {
    background-color: #42526e;
    border-radius: 15px;
}

.form-control.is-invalid {
    margin-bottom: 0px;
}

.navbar {
    box-shadow: none;
}

.navbar-freelancer {
    padding: 0.8rem 1rem 0.8rem 1rem;
    display: flex;
    gap: 1rem;
}

.navbar-freelancer .nav-text strong {
    white-space: nowrap;
}

.navbar-freelancer.active {
    background: #b0b6ff;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.dropdown-menu {
    /* background-color: #F3F7FE; */
}

body {
    /* background-image: url(http://127.0.0.1:8000/images/extra_fillers/hero-green-background.svg);
    background-repeat: no-repeat; */
}


/* Search ICON */

.search_input_group .form-control {
    padding-left: 2.475rem !important;
    padding-right: 0.5rem !important;
    border-color: unset;
}

.search_input_group {
    position: relative;
    margin-left: 3vw !important;
    margin-right: 3% !important;
}

.search_icon_input {
    position: absolute;
    top: 12px;
    left: 5%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 362px;
    cursor: pointer;
}


/* .form-control-feedback:hover{
} */


/* ----- Footer ----- */

.btn-gray {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 50%) !important;
}

.btn-gray:hover {
    color: #000000 !important;
    background-color: #f2f2f2;
}

.footer {
    font-family: Nunito Sans;
    font-style: normal;
}

.footer a {
    color: #444444;
}

.footer .header-text {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    color: #1c1c1c;
}

.footer-note {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.footer-agency {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.footer-agency-note {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
}

.footer-button {
    color: white;
    border-bottom: 1px solid white;
    text-align: left;
    text-decoration: none;
}

.footer-button>i {
    float: right;
    transition: 200ms ease-in-out;
}

.footer-button:hover {
    color: white;
}

.footer-list {
    text-align: left !important;
}

.footer-button>i.active {
    transform: rotate(180deg);
}

.footer-list li {
    padding: 5px;
}

.sm-footer .text-footer {
    text-align: left;
}

.footer-sm-content {
    display: grid;
    gap: 20px;
}

.footer-sm-content a,
p {
    color: #656565;
}

.footer-sm-content hr {
    margin: 0.5rem 0;
}


/* Getting started carousel */

.carousel-inner-box {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    width: 40%;
    /* display: none; */
}

.carousel-inner-box+.card {
    background-color: #ffffff;
    border-radius: 3px;
}

.carousel-inner-box .left-text {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.carousel-inner-box .right-text {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: #006644;
}

.carousel-inner-box .description {
    font-family: Nunito Sans;
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #006644;
}

.carousel-inner-box .top-rated>p {
    float: right;
    font-size: 14px;
    margin-right: 10px;
}

.carousel-inner-box .top-rated>img {
    height: 20px;
    width: 20px;
    float: right;
}

.carousel-inner-box .comment {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
    color: #006644;
}

.carousel-div {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}

.getting-started .carousel-control-next {
    top: unset;
    bottom: 20px;
}

.getting-started .carousel-control-prev {
    top: unset;
    left: 50%;
    bottom: 20px;
    right: 0;
}

.getting-started .carousel-indicators {
    justify-content: center;
    left: 50%;
}

.getting-started .carousel-indicators [data-mdb-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.getting-started-card {
    border-radius: 1rem;
    box-shadow: none;
}

.getting-started-card h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #1c1c1c;
}

.getting-started-card h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1c1c1c;
}

.vh-100 {
    height: 100vh;
}

.btn-nav-link {
    border: none;
    background: none;
    font-weight: 500;
}

.btn-nav-link:hover {
    color: #006644;
}

.container {
    max-width: 80vw;
    /* padding-top: 2rem; */
}

@media (min-width: 768px) and (max-width: 880px) {
    .added-exp {
        width: 150px;
    }
}

@media (min-width: 880px) and (max-width: 990px) {
    .added-exp {
        width: 170px;
    }
}

@media (min-width: 990px) and (max-width: 1140px) {
    .added-exp {
        width: 200px;
    }
}

@media (min-width: 1140px) and (max-width: 1360px) {
    .added-exp {
        width: 230px;
    }
}

@media (min-width: 0px) and (max-width: 690px) {
    .container {
        max-width: 90vw;
    }
    .question-radio+label {
        width: 90%;
    }
}


/* ==========================================Profile page========================================== */

.upload-button {
    background-color: white;
    margin-top: 20px;
    color: #0086ff;
    border: 1px solid #0086ff;
}

.change-image {
    position: absolute;
    bottom: 140px;
    right: 10px;
}

.details-title {
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #172b4d;
}

.photo-details {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: -0.084px;
    color: #1c1c1c;
}

.photo-priview {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-upload input[type="file"] {
    display: none;
}

.profile-modal {
    height: 200px;
    width: 100%;
    background-color: #cccccc;
    position: relative;
}


/* .profile-image {
    position: absolute;
    top: 20px;
    left: 140px;
    height: 150px;
    width: 150px;
} */

#image {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

#image {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.cropper-crop-box,
.cropper-view-box {
    border-radius: 50%;
}

.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}

.cropper-face {
    background-color: inherit !important;
}

.cropper-dashed,
.cropper-point.point-se,
.cropper-point.point-sw,
.cropper-point.point-nw,
.cropper-point.point-ne,
.cropper-line {
    display: none !important;
}

.cropper-view-box {
    outline: inherit !important;
}


/* Jobs Body ------------------------------------ */

.job-description {
    /* max-width: 100ch; */
}

.search-input {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input input {
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    border-radius: 0;
    background-color: rgb(237, 237, 237, 0.5);
    border: 0;
}

.search-input input:focus {
    border-radius: 0;
}

.search-input label {
    position: absolute;
    left: 0.5rem;
}

.job-more-button {
    display: block;
    font-weight: bold;
    font: 1.2rem;
}

.job-body .nav-link {
    font-family: Mulish;
    border-bottom: solid #e2e2e2;
    border-color: #e2e2e2;
    height: 100%;
    font-weight: 500;
}

.job-body .active>.icon>img {
    filter: invert(80%) sepia(33%) saturate(7479%) hue-rotate(214deg) brightness(100%) contrast(89%);
}

.job-body .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.job-body .icon>img {
    width: 1.2rem;
}

.job-body .text {
    margin-left: 5px;
    margin-top: 1px;
}

.job-body .nav-link.active {
    font-weight: 900;
    background-color: unset;
}

.job-card .row {
    margin-left: 0;
    margin-right: 0;
}

.job-card {
    border: 1px solid #afafaf;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
}

.recruiter-remove-job {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 50;
}

.recruiter-remove-job button {
    border-radius: 0;
}

.job-card .upper-content {
    padding: 5px;
}

.number-of-applied {
    /* border: 1px solid black; */
    background-color: #0086ff;
    font-weight: 500;
    color: white;
    font-size: 0.9rem;
    min-width: 24px;
    min-height: 24px;
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.job-card .upper-content.applied-div {
    background: rgba(112, 194, 23, 0.1);
}

.job-avater-span {
    position: relative;
    /* padding: 10px; */
}

.job-card .featured {
    aspect-ratio: 1;
}

.job-card .job-avater {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.job-avater-icon {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: -3px;
}

.job-card .badge {
    color: white;
}

.job-card .badge-dark {
    background-color: #1b364a;
}

.job-card .badge-danger {
    background: #ff6937;
}

.job-card .badge-success {
    background: #05944f;
}

.job-card .applied {
    border: 2px solid #0086ff;
    width: 100%;
    border-radius: 24px 0px 0px 24px;
    color: #0086ff;
    background-color: white;
}

.job-card .save {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: fit-content;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.job-card .save.saved {
    cursor: context-menu;
    border: 2px solid #f2f2f2;
}

.job-card .save.remove {
    cursor: pointer;
}

.job-card .save.remove:hover {
    content: "remove";
}

.job-card .more-text {
    text-decoration: none;
    color: black;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.job-tag {
    display: flex;
    flex-wrap: wrap;
    color: #1a3f61;
}

.job-tag>div {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    padding: 4px 8px;
    margin: 5px;
    width: fit-content;
    background: #ffffff;
    border: 2px solid #afafaf;
    border-radius: 24px;
}

.job-card .flex-text {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

.flex-text>div {
    display: inline-flex;
    margin: 5px;
}

.flex-text img {
    width: 14px;
    aspect-ratio: 1;
}

.flex-text .money {
    font-family: "Inter-Bold";
    font-style: normal;
    font-weight: 500;
}

.lower-text .apply-button {
    border-radius: 0px;
}

.lower-text .divider {
    border-right: 1px solid #1b364a;
    height: 30px;
}

.lower-text .top-text {
    font-family: "Inter-Bold";
    font-style: normal;
    font-weight: 500;
    color: #afafaf;
}

.lower-text .bottom-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
}

.lower-text .stack-image {
    position: absolute;
}

.lower-text .stack-image>img {
    position: absolute;
    width: 23px;
    aspect-ratio: 1;
}

.lower-text .stack-image .image-1 {
    left: -12px;
}

.lower-text .stack-image .image-2 {
    left: -24px;
    z-index: -1;
}

.connect-required {
    /* primary-blue-dark */
    background: #1b364a;
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    color: white;
    display: inline;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.connect-required:hover {
    cursor: context-menu;
}

.connect-available {
    border: 2px solid #0086ff;
    width: 100%;
    border-radius: 40px;
    color: #0086ff;
    background-color: white;
    display: inline-block;
    width: fit-content;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.connect-available:hover {
    cursor: context-menu;
}

@media (min-width: 0px) and (max-width: 690px) {
    .job-body .space-between {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
    }
}


/* ---------------------------------------------- */

.freelancer-profile .job-thumbnail {
    width: 160px;
}

.freelancer-profile .job-poster {
    width: 50px;
    border-radius: 50%;
}

.freelancer-profile .lower-text {
    border-radius: 0px 0px 5px 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    gap: 5px;
    padding-bottom: 1rem;
}

.freelancer-profile .lower-text>div {
    position: relative;
    height: 100%;
}

.freelancer-profile .lower-text>div:not(:last-child):before {
    content: "";
    height: 2rem;
    width: 1px;
    background-color: rgb(27, 54, 74, 0.4);
    position: absolute;
    top: 20%;
    right: 0;
    /* margin-left: 4.5rem; */
    display: flex;
    align-items: center;
}

.freelancer-profile {
    font-family: "Uber Move Text";
    font-style: normal;
}

.freelancer-profile h1,
h2,
h3,
h4,
b {
    font-family: "Inter-Bold";
    font-weight: 700, Bold;
}

.freelancer-profile .progress-bar {
    width: 80%;
    background-color: #ebecf0;
    height: 10px;
    border-radius: 6px;
}

.freelancer-profile .progress {
    background-color: #14a800;
    height: 100%;
    border-radius: 6px;
}

.freelancer-profile .profile-image-div {
    position: relative;
    height: 130px;
}

.custom-file-input {
    opacity: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.custom-file-label {
    border: 2px solid #0086ff;
    background-color: #a5adba;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    z-index: 1;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    left: 22px;
    cursor: pointer;
}

.freelancer-profile .profile-image {
    border: 2px solid white;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: -3rem;
}

.freelancer-profile .profile-social-icon .fab {
    border: 3px solid #ebecf0;
    border-radius: 50%;
    padding: 4 px;
}

.freelancer-profile .available-badge {
    margin-right: 20px;
    color: #0086ff;
    border: 2px solid #0086ff;
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    /* padding: 5px; */
    /* margin: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
}

.freelancer-profile .available-badge img {
    width: 15px;
    aspect-ratio: 1;
}

.freelancer-profile .card-padding {
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
}

.freelancer-profile .card-border {
    /* border: 1px solid #AFAFAF; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 3px #afafaf; */
    background: #ffffff;
}

.freelance-profile-cover-image {
    width: 100%;
    height: 145px;
    border-radius: 0px;
}

.freelancer-profile .hourly-rate-div i {
    cursor: pointer;
}

.freelancer-profile .hourly-rate-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.freelancer-profile .hourly-rate {
    background: #e6f2ed;
    border-radius: 36px;
    max-width: fit-content;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.freelancer-profile .hourly-rate p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
}

.job_feedback_body>*:not(hr) {
    padding: 1rem 1rem 0 1rem;
}

.show-all {
    text-decoration: none;
    color: #1b364a;
}

.freelancer-profile .card-header-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freelancer-profile .card-header-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.freelancer-profile .card-header-button button {
    border: unset;
    background-color: white;
}

.button-no-style {
    border: unset;
    background-color: white;
}

.freelancer-profile .card-header-button i {
    border: 1px solid #626468;
    border-radius: 50%;
}

.freelancer-profile .card-header-button .first {
    padding: 8px;
    font-size: 0.8rem;
}

.freelancer-profile .card-header-button .education {
    padding: 5px;
}

.freelancer-profile .education-edit {
    font-size: 0.8rem;
}

.circular-button {
    border: 1px outset gray;
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1;
}

.inline {
    border: 1px solid #626468;
    border-radius: 50%;
    padding: 5px;
    font-size: 0.8rem;
}

.freelancer-profile .card-header-button .second {
    padding: 10px;
}

.freelancer-profile .portfolio-image {
    width: 100%;
    height: 100%;
}

.portfolio-title {
    color: #0086ff;
}

.portfolio-text {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
}

@media (min-width: 0px) and (max-width: 690px) {
    .freelancer-profile {
        max-width: 100vw;
    }
    .freelancer-profile .personal-information {
        border: 0px;
        padding-right: 0rem;
    }
    .freelancer-profile .profile-image {
        top: -5rem;
    }
    .freelancer-profile .profile-image-div {
        height: 100px;
    }
    .freelancer-profile .hourly-rate {
        border-radius: 0;
    }
    .freelancer-profile .card-border {
        border-radius: 0;
    }
    .freelancer-profile .lower-text {
        grid-template-columns: repeat(3, 1fr);
    }
    .freelancer-profile .lower-text-line-break-div:before {
        width: 0px !important;
    }
    .freelancer-profile .job-thumbnail {
        width: 130px;
    }
    .freelancer-profile .job-poster {
        width: 30px;
    }
}


/* ---------------------------------------------- */


/* ========================================= Submit Profile ================================== */

.submit-top-header {
    background: #eff3fe;
    padding: 0.3rem;
}

.submit-top-header>div {
    display: flex;
    align-items: center;
}

.submit-top-header .first {
    justify-content: end;
}

.submit-top-header .second {
    justify-content: start;
}

.submit-profile-btn {
    background-color: #0086ff;
    color: #ffffff;
    border-radius: 0px;
}

.submit-profile-btn:hover {
    color: #ffffff;
}

@media (min-width: 0px) and (max-width: 786px) {
    .submit-profile-btn {
        text-align: center;
    }
    .submit-top-header .second {
        justify-content: center;
    }
}

.edit-profile-btn {
    color: #0086ff;
    float: right;
    border: 1px solid #0086ff;
    border-radius: 0px;
}

.profile-name {
    top: 35px;
    left: 60px;
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #1c1c1c;
}

.submit-profile>div:not(:first-child) {
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.submit-profile .profile-photo {
    height: 150px;
    width: 150px;
    border: 2px solid #ffffff;
    border-radius: 150px;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.submit-profile .submit-profile-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-profile .submit-profile-language {
    display: flex;
}


/* .photo-sm.col-sm-12 {
    background: #006644;
} */

@media (min-width: 0px) and (max-width: 786px) {
    .profile-info {
        margin: 15px;
        width: 100%;
    }
    .submit-profile .profile-photo {
        margin-top: 0rem;
        margin-left: 0rem;
    }
    .submit-profile .submit-profile-title {
        align-items: flex-start;
        flex-direction: column;
    }
    .submit-profile .submit-profile-language {
        flex-direction: column;
    }
}

.profile-location {
    top: 70px;
    left: 60px;
    display: flex;
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #1c1c1c;
}

.profile-details {
    top: 90px;
    left: 60px;
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #444444;
}

.profile-content {
    position: relative;
}

.content-title {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #1c1c1c;
}

.submit-profile .rate {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    color: #1b364a;
    padding: 0.8rem;
    background: #e6f2ed;
    border-radius: 36px;
}

.more {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #1c1c1c;
}

.content-subtitle {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1c1c1c;
}

.show-all {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1b364a;
}

.tab-title {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1c1c1c;
}

.tab-border {
    border: 1px solid #dfe1e6;
}


/* ========================================= Submit Profile End ================================== */


/* ========================================= blog ================================== */

.blog-title {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #1c1c1c;
    width: 30%;
}

.massage {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
}

.letter {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
    color: #1c1c1c;
}

.letter-desc {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #444444;
    width: 50%;
}

.duration {
    font-family: "Uber Move Text";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #afafaf;
}


/* ========================================= blog End ================================== */


/* ================= Bootstrap Responsive Width ========================================= */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}


/* ================= Bootstrap Responsive Width End ========================================= */

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.btn-xs {
    padding: 0.35rem 0.7rem 0.35rem;
    font-size: 0.7rem;
    line-height: 1;
}


/* ============ New Star Rating w Percentage ========= */

.outer-star {
    position: relative;
    display: flex;
}

.inner-star {
    display: flex;
    color: #ffbc0b;
    overflow: hidden;
    position: absolute;
    top: 0;
}


/* =================== Star rating =================== */

.star-rating-display {
    font-size: 2em;
    unicode-bidi: bidi-override;
    color: #eee;
    display: inline-block;
    position: relative;
}

.star-rating-display:before,
.star-rating-display:after {
    content: "★★★★★";
    display: inline-block;
    white-space: nowrap;
}

.star-rating-display:before {
    color: #ffd200;
    position: absolute;
    z-index: 1;
    left: 0px;
    overflow: hidden;
}

.star-rating-display:after {
    z-index: 0;
}

.star-rating-display[data-average-score="0"]:before {
    width: 0%;
}

.star-rating-display[data-average-score="0.5"]:before {
    width: 10%;
}

.star-rating-display[data-average-score="1"]:before {
    width: 20%;
}

.star-rating-display[data-average-score="1.5"]:before {
    width: 30%;
}

.star-rating-display[data-average-score="2"]:before {
    width: 40%;
}

.star-rating-display[data-average-score="2.5"]:before {
    width: 50%;
}

.star-rating-display[data-average-score="3"]:before {
    width: 60%;
}

.star-rating-display[data-average-score="3.5"]:before {
    width: 70%;
}

.star-rating-display[data-average-score="4"]:before {
    width: 80%;
}

.star-rating-display[data-average-score="4.5"]:before {
    width: 90%;
}

.star-rating-display[data-average-score="5"]:before {
    width: 100%;
}


/* ===================== Star rating input ==================== */

.rating-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rating-wrapper>label {
    font-size: 1.2rem;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #09f;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}


/* ===================== Contract ============================= */

.job-dropdown-parent {
    position: relative;
}

.job-dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

.job-dropdown .dropdown-menu {
    min-width: 14rem;
}

.dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


/* ===================== Settings ============================= */

.setting-links a {
    text-align: start;
}

.experience_text {
    position: relative;
}

.loader {
    transition: 200ms;
    position: absolute;
    top: 1px;
}

.loader-hidden {
    opacity: 0;
}


/* Utility class */

.c-flex {
    display: flex;
}

.f-justify-center {
    justify-content: center;
}

.f-justify-end {
    justify-content: end;
}

.f-justify-between {
    justify-content: space-between;
}

.f-justify-start {
    justify-content: start;
}

.f-align-center {
    align-items: center;
}

.f-align-end {
    align-items: end;
}

.f-align-start {
    align-items: start;
}

.f-direction-column {
    flex-direction: column;
}

.f-gap-1 {
    gap: 1rem;
}

.f-gap-2 {
    gap: 1.5rem;
}

.f-gap-3 {
    gap: 2rem;
}

.f-gap-4 {
    gap: 3rem;
}

.f-gap-5 {
    gap: 4rem;
}

.attachment-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-auto-columns: minmax(200px, auto);
}

@media (min-width: 0px) and (max-width: 990px) {
    .attachment-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Stripe CSS */

.error {
    z-index: 0;
    height: 55px;
    transition: 300ms;
    opacity: 1;
}
.credit-card-logo{
    width: 3.5em;
}

.hidden {
    opacity: 0;
    height: 0;
    z-index: -1;
}

.membership {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px !important;
}

.plan-title {
    text-align: center;
    margin-bottom: 30px;
}

.plan-subtitle {
    text-align: center;
    margin-bottom: 30px !important;
}

.proposal-img {
    border: 1px outset gray;
    background-color: white;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-left: 30px;
}

.zigzag{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.triangle{
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slidein {
    from { transform: translateX(-10px); }

    to { transform: translateX(10px); }
}

@keyframes rotate {
    from { transform: rotate(0deg) translateX(5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}